
.image-container{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
   
}
.image-container img{
    display: block;
    width: 100%;
    height: auto;
}
.text{
    position: absolute;

    
}